<a href="https://colab.research.google.com/github/Syedfaizaan2004/Data-Structure/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure Question

Q-1  What are data structures, and why are they important?

Ans. Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They define the layout and relationships between data elements and determine how algorithms interact with that data.

Q - 2 Explain the difference between mutable and immutable data types with examples.

Ans. **Mutable** means changable. Data can be modified after it's created.

**Immutable**  means unchangable. Once the data is created it can not be modified.

Q - 3 What are the main differences between lists and tuples in Python?

Ans. **List** are mutable, slower and require more memory than tuples

**Tuples** are immutable, faster and require less memory than list.

Q - 4 Describe how dictionaries store data?

Ans. Dictionaries store data in key value pair. It's data is mutable.
- example are student = {"name": "Faizaan", "age": 20}

Q - 5 Why might you use a set instead of a list in Python?

Ans. A set is a built-in data type in Python that stores unordered, unique elements. There are several situations where using a set is better than using a list. Sets only unique items allowed. List contain duplicate.

Q - 6 What is a string in Python, and how is it different from a list?

Ans. A string in Python is a sequence of characters enclosed in single quotes ' ', double quotes " ", or triple quotes ''' ''' / """ """.

- String are immutable and list are mutable.
- String are text processing and list are general purpose collection.
- Modifying element are not allowed directly in String where modifying element are allowed.

Q - 7 How do tuples ensure data integrity in Python?

Ans. Tuples in Python help ensure data integrity by being immutable — meaning their contents cannot be changed after creation.

Q - 8 What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that stores key-value pairs using a hash function to compute an index, allowing fast access to data.

Q - 9 Can lists contain different data types in Python?

Ans. Python lists are heterogeneous, meaning they can store a mix of data types in a single list.

Q - 10  Explain why strings are immutable in Python?

Ans. Strings in Python are immutable, meaning you cannot change their contents after creation.

Q - 11 What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries are better than lists when you need to store and access data using a unique key, not just a position.

Q - 12 Describe a scenario where using a tuple would be preferable over a list?

Ans. tuple would be preferable over a list are:
- Immutability: Prevents accidental changes to important fixed values.
- Performance: Tuples are faster and use less memory than lists.
- Hashable: Can be used as a key in dictionaries, unlike lists.

Q - 13  How do sets handle duplicate values in Python3

Ans. sets automatically remove duplicate values.

Sets are useful for:
- Removing duplicates from lists
- Fast membership checks (O(1) time)

Q - 14 How does the “in” keyword work differently for lists and dictionaries?

Ans.
- The in keyword checks if a value exists anywhere in the list.
- The in keyword checks only for the presence of a key, not a value.

Q - 15 Can you modify the elements of a tuple? Explain why or why not.

Ans. No, We cannot modify the elements of a tuple in Python. Because tuples are immutable — once created, their contents cannot be changed.

Q - 16 What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary inside another dictionary.
It allows you to store hierarchical or structured data.
- students = {
    "101": {"name": "Faizaan", "age": 20, "branch": "ECE"},
    "102": {"name": "Aisha", "age": 21, "branch": "CSE"}
}

Q - 17 Describe the time complexity of accessing elements in a dictionary?

Ans. Accessing an element by key in a dictionary is on average:
- O(1) — Constant time

Worst Case
- O(n) — if many keys hash to the same value

Q - 18 In what situations are lists preferred over dictionaries?

Ans. Lists are better than dictionaries when:
- Order Matters
- Data is Simple and Sequential
- Index-Based Access

Q - 19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. dictionaries were unordered because they used hash tables without keeping track of the insertion order.
- No index-based access like lists.
- We must use keys to access values.

Q - 20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.
- List can be accessed by index. where dictionary can be accessed by key value.
- use case of list is ordered collection and use case of dictionary are key value mapping.

# Practical Questions

Q - 1 Write a code to create a string with your name and print it?

In [32]:
name = "Faizaan"
print(name)

Faizaan

Q - 2 Write a code to find the length of the string "Hello World"?

In [33]:
text = "Hello World"
print(len(text))

11

Q - 3 Write a code to slice the first 3 characters from the string "Python Programming"?

In [34]:
text = "Python Programming"
print(text[:3])

Pyt

Q - 4 Write a code to convert the string "hello" to uppercase?

In [35]:
word = "hello"
print(word.upper())

HELLO

Q - 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [36]:
sentence = "I like apple"
print(sentence)
print(sentence.replace("apple", "orange"))

I like apple
I like orange

Q - 6 Write a code to create a list with numbers 1 to 5 and print it?

In [37]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q - 7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [38]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q - 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [39]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q - 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [40]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Q - 10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [41]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

Q - 11 Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [42]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q - 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [43]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Q - 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [44]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

Q - 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [45]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

Q - 15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [46]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

Q - 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [47]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

Q - 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [48]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

Q - 18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [49]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q - 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [50]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q - 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [51]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Q - 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [52]:
person = {"name": "Syed", "age": 20, "city": "New Delhi"}
print(person)

{'name': 'Syed', 'age': 20, 'city': 'New Delhi'}

Q - 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [53]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q - 23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [54]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

Q - 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [55]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

Q - 25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [56]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

Q - 26  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [57]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

Q - 27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [58]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[5, 24, 33, 87, 89]

Q - 28  Write a code to create a list with strings and print the element at the third index.

In [59]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

Q - 29 Write a code to combine two dictionaries into one and print the result.

In [60]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q - 30 Write a code to convert a list of strings into a set.

In [61]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}